@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap");
:root {
  --clr-bg: #000000;
  --clr-bg-light: #121212;
  --clr-decor: #2e2e2e;
  --clr-hbl: rgba(0, 0, 0, 0.5);
  --clr-hw: rgba(255, 255, 225, 0.8);
  --clr-font: #ffffff;
  --clr-accent: #ffbb00;
  --clr-h: #e4a30b;
  --transition: all 0.3s ease;
}

/*-----------------------Default Styles-------------------------*/
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

html._lock {
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a:visited,
input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  color: var(--clr-font);
  background-color: var(--clr-bg);
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  min-height: 100vh;
  overflow: hidden;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
}

/*-----------------------/Default Styles-------------------------*/
/*-----------------------General-Styles-------------------------*/
/*.wrapper {
	overflow: hidden;
}*/
section {
  padding: 80px 0px;
}

.container {
  margin: 0 auto;
  padding: 0px 15px;
}

.burger-btn {
  --size: 30px;
  position: relative;
  z-index: 999;
}
@media (min-width: 425px) {
  .burger-btn {
    display: none;
  }
}
.burger-btn span {
  display: block;
  position: relative;
  width: var(--size);
  height: calc(var(--size) / 10);
  border-radius: calc(var(--size) / 10);
  -webkit-transform-origin: right;
          transform-origin: right;
  opacity: 1;
  background-color: var(--clr-font);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.burger-btn span:nth-child(2) {
  margin: calc(var(--size) / 3.75) 0px;
}
.burger-btn._active span:nth-child(1) {
  -webkit-transform: translateY(15%) rotate(-45deg);
          transform: translateY(15%) rotate(-45deg);
}
.burger-btn._active span:nth-child(2) {
  opacity: 0;
}
.burger-btn._active span:nth-child(3) {
  -webkit-transform: translateY(-15%) rotate(45deg);
          transform: translateY(-15%) rotate(45deg);
}

._button {
  padding: 16px 32px;
  font: 600 18px Poppins;
  text-transform: uppercase;
  color: var(--clr-bg);
  border-radius: 5px;
  background-color: var(--clr-accent);
}

._arrow-right {
  --width: 16px;
  position: relative;
  padding-right: calc(var(--width) * 4);
}
._arrow-right::before, ._arrow-right::after {
  content: "";
  position: absolute;
  right: calc(var(--width) * 2);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
._arrow-right::before {
  top: calc(50% - var(--width) / 8);
  width: var(--width);
  height: calc(var(--width) / 8);
  background-color: var(--clr-bg);
}
._arrow-right::after {
  top: calc(50% - var(--width) / 3);
  width: calc(var(--width) / 2);
  height: calc(var(--width) / 2);
  border-top: calc(var(--width) / 8) solid var(--clr-bg);
  border-right: calc(var(--width) / 8) solid var(--clr-bg);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.accent {
  color: var(--clr-accent);
}

._mark {
  padding-left: 1em;
  position: relative;
}

._mark::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1em;
  width: 12px;
  height: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: var(--clr-accent);
}

._decor {
  position: absolute;
  z-index: 0;
  max-width: 52px;
  width: 10vw;
  left: 30px;
  bottom: 30px;
  aspect-ratio: 1;
}

._title {
  font: 600 clamp(2.625rem, 2.049rem + 2.17vw, 4rem) Poppins;
}

._label {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  padding: 16px;
  padding-left: 40px;
  border-radius: 5px;
  color: rgb(156, 156, 156);
  background-color: #2E2E2E;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
._label::before {
  content: "";
  position: absolute;
  width: 16px;
  aspect-ratio: 1;
  top: 30px;
  left: 16px;
  border-radius: 50%;
  border: 2px solid rgb(156, 156, 156);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
._label::after {
  display: none;
  content: "";
  position: absolute;
  width: 6px;
  aspect-ratio: 1;
  top: 30.5px;
  left: 21px;
  border-radius: 50%;
  background-color: rgb(156, 156, 156);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

/*-----------------------/General-Styles-------------------------*/
/*-----------------------Header-------------------------*/
.header__logo-wrapper {
  width: 136px;
  position: relative;
  z-index: 999;
}
.header.container {
  position: relative;
  z-index: 990;
  max-width: 1190px;
  padding: 32px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 425px) {
  .header.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--clr-bg);
  }
}

.nav-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 425px) {
  .nav-header__list {
    position: fixed;
    z-index: 990;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    padding: 78px 15px 0px 0px;
    text-align: right;
    background-color: var(--clr-bg-light);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: var(--transition);
    transition: var(--transition);
    overflow: auto;
  }
}
.nav-header__list._active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.nav-header__link {
  position: relative;
  display: block;
  margin: 0rem clamp(1rem, 0.422rem + 2.18vw, 2rem);
  color: var(--clr-font);
  font: 500 clamp(0.875rem, 0.73rem + 0.54vw, 1.125rem) Poppins;
}
@media (max-width: 425px) {
  .nav-header__link {
    margin: 30px 0px;
    font-size: 32px;
  }
}
.nav-header__link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--clr-font);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  opacity: 0;
}
@media (any-hover: hover) {
  .nav-header__link:hover::before {
    opacity: 1;
  }
}

/*-----------------------/Header-------------------------*/
/*-----------------------Header-Main-------------------------*/
.header-main {
  font-family: "Poppins";
  position: relative;
  z-index: 0;
}
@media (max-width: 425px) {
  .header-main {
    padding-top: 50px;
  }
}
.header-main .container {
  position: relative;
  max-width: 1250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 46px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  .header-main .container {
    display: block;
    text-align: center;
  }
}
.header-main__content {
  padding: 200px 0px 100px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}
@media (max-width: 1024px) {
  .header-main__content {
    padding: 100px 0px 0px;
  }
}
.header-main__title {
  line-height: 1.25;
  margin-bottom: 30px;
}
.header-main__text {
  font-size: 24px;
  opacity: 0.5;
  margin-bottom: 20px;
}
.header-main__btn {
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  color: var(--clr-bg);
  background-color: var(--clr-accent);
}
@media (max-width: 1024px) {
  .header-main__btn {
    width: 100%;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.header-main__img-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 120%;
  border-radius: 5px;
  overflow: hidden;
}
@media (max-width: 1275px) {
  .header-main__img-wrapper {
    right: 15px;
  }
}
@media (max-width: 1024px) {
  .header-main__img-wrapper {
    height: 350px;
    position: static;
    width: 100%;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
}
.header-main__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*-----------------------/Header-Main-------------------------*/
/*-----------------------Index-Bicycles-------------------------*/
.index-bicycles {
  padding-top: clamp(9.375rem, 6.881rem + 9.39vw, 15.625rem);
  padding-bottom: 200px;
  color: var(--clr-bg);
  background-color: var(--clr-font);
}
.index-bicycles .container {
  max-width: 1490px;
}
.index-bicycles__title {
  padding: 0px 0px 42px 100px;
  text-transform: lowercase;
}
@media (max-width: 768px) {
  .index-bicycles__title {
    text-align: center;
    padding-left: 0;
  }
}
.grid-bicycles {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-items: center;
  gap: 40px;
}
@media (max-width: 425px) {
  .grid-bicycles {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.item-bicycles__img-wrapper {
  display: block;
  max-width: 460px;
  height: 520px;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 5px;
  overflow: hidden;
}
@media (max-width: 425px) {
  .item-bicycles__img-wrapper {
    height: 300px;
  }
}
.item-bicycles__img {
  height: 100%;
  -o-object-position: 85%;
     object-position: 85%;
}
@media (max-width: 425px) {
  .item-bicycles__img {
    -o-object-position: center;
       object-position: center;
  }
}
.item-bicycles__title {
  font: 600 32px Poppins;
  margin-bottom: 8px;
  color: var(--clr-bg);
}
.item-bicycles__price {
  font: 500 18px Roboto;
  opacity: 0.5;
}

/*-----------------------/Index-Bicycles-------------------------*/
/*-----------------------Technology-------------------------*/
.index-technology {
  position: relative;
}
.index-technology .container {
  max-width: 1330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media (max-width: 1024px) {
  .index-technology .container {
    display: block;
  }
}
.index-technology__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-right: 30px;
}
.index-technology__subtitle {
  font: 500 24px Roboto;
  text-transform: uppercase;
  margin-bottom: 20px;
  opacity: 0.5;
}
.index-technology__title {
  text-transform: lowercase;
  margin-bottom: 20px;
}
.index-technology__text {
  font: 400 24px Roboto;
  line-height: 1.5;
  opacity: 0.5;
  margin-bottom: 20px;
}
.index-technology__link {
  display: inline-block;
  position: relative;
  font: 600 24px Poppins;
  color: var(--clr-accent);
  text-transform: uppercase;
  margin-bottom: 80px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.index-technology__link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 0.17em;
  background-color: var(--clr-accent);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
@media (any-hover: hover) {
  .index-technology__link:hover {
    color: var(--clr-h);
    letter-spacing: 0.02em;
  }
  .index-technology__link:hover::before {
    background-color: var(--clr-h);
  }
}
.index-technology__img-wrapper {
  height: 300px;
}
@media (min-width: 1024px) {
  .index-technology__img-wrapper {
    position: absolute;
    right: 0;
    top: -25%;
    width: 50%;
    height: 150%;
  }
}
@media (max-width: 1345px) {
  .index-technology__img-wrapper {
    right: 15px;
  }
}
@media (max-width: 1024px) {
  .index-technology__img-wrapper {
    margin-top: 50px;
  }
}
.index-technology__img {
  height: 100%;
}
.characteristics-techology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.characteristics-techology__icon i::before {
  font-size: 24px;
  color: var(--clr-accent);
}
.characteristics-techology__title {
  font: 500 24px Poppins;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.characteristics-techology__text {
  font: 400 16px Roboto;
  line-height: 1.5;
  opacity: 0.5;
}

/*-----------------------/Technology-------------------------*/
/*-----------------------Partners-------------------------*/
.index-partners {
  background-color: var(--clr-font);
  color: var(--clr-bg);
  padding-top: 250px;
}
.index-partners .container {
  max-width: 1430px;
}
.index-partners__title {
  text-transform: lowercase;
  padding-left: 100px;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .index-partners__title {
    text-align: center;
    padding: 0;
  }
}
.index-partners__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-collapse: collapse;
}
@media (max-width: 768px) {
  .index-partners__table {
    overflow-x: auto;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  .index-partners__table tbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.index-partners__table tr {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.index-partners__table tr:last-child {
  border: none;
}
@media (max-width: 768px) {
  .index-partners__table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
  }
}
.index-partners__table td {
  text-align: center;
  padding: 32px 0px;
  margin: 0px 40px;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}
.index-partners__table td:last-child {
  border: none;
}
@media (max-width: 768px) {
  .index-partners__table td {
    width: 50vw;
    min-width: 250px;
    border: none;
    scroll-snap-align: center;
  }
}

.table-partners__img {
  width: 100%;
}
@media (min-width: 769px) {
  .table-partners__img {
    width: 50%;
  }
}

/*-----------------------/Partners-------------------------*/
/*-----------------------Quote-------------------------*/
.index-quote {
  position: relative;
  background-color: var(--clr-accent);
}
@media (max-width: 1024px) {
  .index-quote {
    padding-bottom: 0;
  }
}
.index-quote__img-wrapper {
  height: 450px;
}
@media (min-width: 1025px) {
  .index-quote__img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }
}
.index-quote__img {
  height: 100%;
}
.index-quote__content {
  padding-left: 55%;
  padding-top: 20%;
}
@media (max-width: 1024px) {
  .index-quote__content {
    padding: 0;
    margin-bottom: 50px;
  }
}
.index-quote__text {
  position: relative;
  z-index: 1;
  font: italic 900 clamp(1.5rem, 1.083rem + 1.57vw, 2.25rem) Merriweather;
  color: rgba(0, 0, 0, 0.8);
  padding: 0em 50px;
  margin-bottom: 40px;
}
.index-quote__text::before, .index-quote__text::after {
  position: absolute;
  content: "";
  background: url("../img/decor/quote.svg");
  background-size: cover;
  padding-left: 1.2em;
  height: 1em;
}
.index-quote__text::before {
  top: 0;
  left: 0;
}
.index-quote__text::after {
  right: 0;
  bottom: 0;
}
.index-quote__author {
  font: 600 24px Poppins;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 50px;
}
.index-quote__decor1 {
  z-index: 0;
  top: 5%;
  left: 52.5%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
@media (max-width: 1024px) {
  .index-quote__decor1 {
    top: 15px;
    left: 15px;
  }
}
.index-quote__decor1 svg path {
  fill: var(--clr-h);
}
.index-quote__decor2 {
  z-index: 0;
  top: inherit;
  left: inherit;
  right: 45px;
  bottom: 45px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
@media (max-width: 1024px) {
  .index-quote__decor2 {
    display: none;
  }
}
.index-quote__decor2 svg path {
  fill: var(--clr-h);
}

.container {
  max-width: 1190px;
}

/*-----------------------/Quote-------------------------*/
/*-----------------------Guarantee-------------------------*/
.index-guarantee {
  position: relative;
  background-color: var(--clr-bg-light);
}
.index-guarantee__title {
  text-transform: lowercase;
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  .index-guarantee__title {
    text-align: center;
  }
}
.index-guarantee__decor {
  z-index: 0;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 1190px;
}

.grid-gua {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media (max-width: 1024px) {
  .grid-gua {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.grid-gua__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 1024px) {
  .grid-gua__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.item-gua {
  padding: 20px 32px 44px 64px;
  background-color: var(--clr-bg);
  border-radius: 5px;
}
.item-gua__header {
  font: 600 36px Poppins;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}
@media (max-width: 425px) {
  .item-gua__header {
    display: block;
  }
}
.item-gua__title {
  color: var(--clr-accent);
}
.item-gua__price {
  text-align: right;
  line-height: 1;
}
.item-gua__price span {
  display: block;
  line-height: 1;
  font: 600 12px Poppins;
  color: rgba(255, 255, 255, 0.5);
}
.item-gua__list {
  margin-bottom: 32px;
}
.item-gua__item {
  position: relative;
  margin: 20px 0px;
  font: 500 18px Roboto;
  margin-left: -1.5em;
}
.item-gua__item i:before {
  color: var(--clr-accent);
  margin-right: 0.5em;
}
.item-gua__btn {
  font: 600 18px Poppins;
  padding: 16px 32px;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  background-color: var(--clr-accent);
}
@media (max-width: 425px) {
  .item-gua__btn {
    display: block;
    width: 90%;
  }
}
.item-gua:first-child .item-gua__title {
  color: rgba(255, 255, 255, 0.5);
}
.item-gua:first-child .item-gua__btn {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--clr-bg-light);
}

/*-----------------------/Guarantee-------------------------*/
/*-----------------------Footer-------------------------*/
footer {
  padding: 60px 0px 32px 0px;
}
footer .container {
  max-width: 1190px;
}
footer .footer__copyrights {
  font: 400 18px Roboto;
  color: rgba(255, 255, 255, 0.5);
}
footer .content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(2.5rem, -1.667rem + 15.69vw, 10rem);
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  footer .content-footer {
    display: block;
  }
}
footer .content-footer__logo-wrapper {
  width: 136px;
}
@media (max-width: 768px) {
  footer .content-footer__logo-wrapper {
    margin-bottom: 48px;
    width: 272px;
  }
}
footer .content-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 768px) {
  footer .content-footer__wrapper {
    display: block;
  }
}
footer .content-footer__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 42.5%;
          flex: 0 1 42.5%;
}
@media (max-width: 768px) {
  footer .content-footer__block {
    margin-bottom: 32px;
  }
}
footer .contacts-footer__item {
  padding: 16px 0px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
footer .contacts-footer__social-media {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
footer .contacts-footer__social-media_icon i {
  color: var(--clr-accent);
  cursor: pointer;
  font-size: 32px;
}
footer .contacts-footer__social-media_icon i::before {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
@media (any-hover: hover) {
  footer .contacts-footer__social-media_icon i:hover::before {
    color: var(--clr-accent);
  }
}
footer .block__title {
  font: 500 clamp(1.125rem, 0.917rem + 0.78vw, 1.5rem) Roboto;
  text-transform: uppercase;
  margin-bottom: clamp(1rem, 0.444rem + 2.09vw, 2rem);
}
footer .block__text {
  display: inline-block;
  font: 400 clamp(1rem, 0.931rem + 0.26vw, 1.125rem) Roboto;
  line-height: 2;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
@media (any-hover: hover) {
  footer .block__text:hover {
    color: var(--clr-font);
  }
}
/*-----------------------/Footer-------------------------*/
/*-----------------------BICYCLES-------------------------*/
/*-----------------------Header-------------------------*/
@media (min-width: 425px) {
  .bicycles-header .nav-header__item:nth-child(1) .nav-header__link::before {
    opacity: 1;
  }
}
.bicycles-header-main {
  padding: 60px 0px;
  background-color: var(--clr-bg-light);
}
@media (max-width: 425px) {
  .bicycles-header-main {
    padding-top: 160px;
  }
}
.bicycles-header .container {
  max-width: 1190px;
}
.bicycles-header__subtitle {
  font: 500 24px Poppins;
}
/*-----------------------/Header-------------------------*/
/*-----------------------Bicycles-Bicycles-------------------------*/
.bicycles-bicycles {
  color: var(--clr-bg);
  background-color: var(--clr-font);
}
.item-bicycle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding: 60px 0px;
}
.item-bicycle:nth-child(even)::before {
  content: "";
  position: absolute;
  width: calc(100vw - 15%);
  height: 100%;
  top: 0;
  left: 15%;
  background-color: var(--clr-bg-light);
}
.item-bicycle:nth-child(even) .item-bicycle__title {
  color: var(--clr-font);
}
.item-bicycle:nth-child(even) .item-bicycle__desc {
  color: var(--clr-hw);
}
.item-bicycle:nth-child(even) .char-bicycle__item {
  color: var(--clr-hw);
}
@media (max-width: 1024px) {
  .item-bicycle:nth-child(even)::before {
    left: -15px;
    right: -15px;
    width: calc(100% + 30px);
  }
}
.item-bicycle__img-wrapper {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  border-radius: 10px;
  overflow: hidden;
  font-size: 0;
}
@media (max-width: 1024px) {
  .item-bicycle__img-wrapper {
    margin-bottom: 24px;
  }
}
.item-bicycle__img {
  height: 100%;
}
.item-bicycle__price {
  position: absolute;
  right: 0;
  top: 20px;
  padding: 8px 16px;
  font: 500 18px Roboto;
  border-radius: 5px 0px 0px 5px;
  color: var(--clr-font);
  background-color: var(--clr-bg);
}
@media (max-width: 1024px) and (min-width: 425px) {
  .item-bicycle__price {
    top: 48px;
    font-size: 28px;
  }
}
.item-bicycle__content {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 8px 0px 0px 0px;
}
.item-bicycle__content._mark::before {
  display: block;
  top: 0;
  -webkit-transform: none;
          transform: none;
}
.item-bicycle__title {
  font: 600 36px Poppins;
  margin-bottom: 20px;
}
.item-bicycle__desc {
  font: 400 18px Roboto;
  color: rgba(0, 0, 0, 0.5);
  width: 70%;
  line-height: 1.4;
  margin-bottom: 32px;
}
.item-bicycle__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 425px) {
  .item-bicycle__block {
    display: block;
  }
}
@media (max-width: 425px) {
  .item-bicycle__char {
    margin-bottom: 48px;
  }
}
@media (max-width: 425px) {
  .item-bicycle__btn {
    display: block;
    text-align: center;
    padding: 16px 32px;
  }
  .item-bicycle__btn::before, .item-bicycle__btn::after {
    display: none;
  }
}
.item-bicycle__decor {
  left: inherit;
  right: 0;
  top: 60px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 1024px) {
  .item-bicycle {
    display: block;
  }
}

.char-bicycle__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  color: var(--clr-hbl);
  margin-bottom: 8px;
  font: 500 18px Poppins;
}
.char-bicycle__item:last-child {
  margin-bottom: 0;
}
.char-bicycle__item i::before {
  font-size: 24px;
  color: var(--clr-accent);
  margin-right: 0.5em;
}

/*-----------------------/Bicycles-Bicycles-------------------------*/
/*-----------------------/BICYCLES-------------------------*/
/*-----------------------ITEM-------------------------*/
/*-----------------------Modal-------------------------*/
.modal-item {
  visibility: hidden;
  opacity: 0;
  z-index: -999;
  position: fixed;
  z-index: 995;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-bg);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.modal-item._active {
  visibility: visible;
  opacity: 1;
  z-index: 995;
}
.modal-item .container {
  margin: 5vh 0vh;
  min-width: 100vw;
  height: 90vh;
  padding: 7.5vh 5vw;
  text-align: center;
  border-top: 3px solid var(--clr-accent);
  border-bottom: 3px solid var(--clr-accent);
}
.modal-item__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0vh auto;
  width: 100%;
  height: 100%;
  font-size: 0;
  aspect-ratio: 16/9;
}
.modal-item__img {
  width: auto;
  height: 100%;
  border-radius: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-aspect-ratio: 3/2) {
  .modal-item__img {
    width: 100%;
    height: auto;
  }
}
.modal-item .modal-btn {
  position: absolute;
  z-index: 999;
  top: 30px;
  right: 30px;
  display: block;
  width: 47.5px;
  aspect-ratio: 1;
}
.modal-item .modal-btn span {
  position: absolute;
  top: 0;
  display: block;
  height: 5px;
  width: 65px;
  background-color: var(--clr-font);
  border-radius: 5px;
}
.modal-item .modal-btn span:nth-child(1) {
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal-item .modal-btn span:nth-child(2) {
  right: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*-----------------------/Modal-------------------------*/
/*-----------------------Header-------------------------*/
@media (min-width: 425px) {
  .item-header .nav-header__item:nth-child(1) .nav-header__link::before {
    opacity: 1;
  }
}

/*-----------------------/Header-------------------------*/
/*-----------------------Item-Main-------------------------*/
.item-main {
  background-color: var(--clr-bg-light);
}
.item-main__price {
  font: 600 36px Poppins;
  color: var(--clr-hw);
}
.item-main__title {
  margin-bottom: 60px;
}
@media (min-width: 1024px) {
  .item-main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 60px;
  }
}
@media (max-width: 425px) {
  .item-main {
    padding-top: 150px;
  }
}

.container {
  max-width: 1190px;
}

.content-item__gallery {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52%;
          flex: 0 1 52%;
}
.content-item__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.gallery-item img {
  border-radius: 5px;
  cursor: pointer;
}
.gallery-item__main-img {
  aspect-ratio: 4/3.15;
  margin-bottom: 20px;
}
.gallery-item__line {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .gallery-item__line {
    margin-bottom: 32px;
  }
}
.gallery-item__img {
  aspect-ratio: 4/3.15;
}

.text-item__desc {
  font: 400 24px Roboto;
  color: var(--clr-hw);
  margin-bottom: 32px;
}
.text-item__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
}
@media (max-width: 425px) {
  .text-item__actions {
    display: block;
  }
}
.actions-item__btn {
  text-align: center;
  margin-right: 12px;
}
@media (max-width: 425px) {
  .actions-item__btn {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
    font-size: 24px;
  }
}
.text-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.text-actions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 500 12px Poppins;
  color: var(--clr-hw);
  padding: 4px 2px;
  margin-bottom: 8px;
  border-radius: 5px;
  background-color: var(--clr-bg);
}
.text-actions__item:last-child {
  margin-bottom: 0;
}
.text-actions__item i:before {
  font-size: 16px;
  margin-right: 8px;
  color: inherit;
}
@media (max-width: 425px) {
  .text-actions__item {
    font-size: 24px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text-actions__item i::before {
    font-size: 28px;
  }
}

.info-item__title {
  font: 500 12px Poppins;
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media (max-width: 425px) {
  .info-item__title {
    text-align: center;
    font-size: 24px;
  }
}
.grid-info {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 32px;
  padding: 32px;
  margin-bottom: 40px;
  border-radius: 5px;
  background-color: var(--clr-bg);
}
.grid-info__icon i:before {
  font-size: 24px;
  color: var(--clr-accent);
  margin-bottom: 4px;
}
@media (max-width: 425px) {
  .grid-info__icon i:before {
    font-size: 32px;
  }
}
.grid-info__title {
  font: 500 18px Poppins;
  text-transform: capitalize;
  margin-bottom: 8px;
}
@media (max-width: 425px) {
  .grid-info__title {
    font-size: 24px;
  }
}
.grid-info__desc {
  font: 400 14px Roboto;
  line-height: 1.4;
  color: var(--clr-hw);
}
@media (max-width: 425px) {
  .grid-info__desc {
    font-size: 18px;
  }
}

.char-item__title {
  font: 500 12px Poppins;
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media (max-width: 425px) {
  .char-item__title {
    text-align: center;
    font-size: 24px;
  }
}
.char-item__list {
  padding: 32px;
  border-radius: 5px;
  background-color: var(--clr-bg);
}
.char-item__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font: 500 16px Roboto;
  color: var(--clr-hw);
  padding: 6px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.char-item__item:last-child {
  border-bottom: none;
}
@media (max-width: 425px) {
  .char-item__item {
    font-size: 20px;
  }
}

/*-----------------------/Item-Main-------------------------*/
/*-----------------------Item-Items-------------------------*/
.item-items {
  background-color: var(--clr-font);
}
@media (min-width: 1025px) {
  .item-items {
    padding-bottom: 250px;
  }
}
.item-items .container {
  max-width: 1230px;
}
.item-items__title {
  color: var(--clr-bg);
  text-transform: lowercase;
  margin-bottom: 42px;
}
.grid-items {
  display: -ms-grid;
  display: grid;
  gap: 75px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}
.item-bicycles__img-wrapper {
  height: auto;
  max-width: none;
  aspect-ratio: 16/10;
}
.item-bicycles__price {
  color: rgba(0, 0, 0, 0.95);
}

/*-----------------------/Item-Items-------------------------*/
/*-----------------------Block-------------------------*/
.block {
  position: relative;
  background-color: var(--clr-bg-light);
}
.block .container {
  position: relative;
  max-width: 1440px;
}
.block__img-wrapper {
  position: absolute;
  top: -180px;
  left: 0;
  width: 50%;
  height: calc(100% + 360px);
}
@media (max-width: 1024px) {
  .block__img-wrapper {
    position: static;
    width: 100%;
    height: 450px;
  }
}
.block__img {
  height: 100%;
  border-radius: 5px;
}
.block__content {
  margin-left: 55%;
  width: 40%;
}
@media (max-width: 1024px) {
  .block__content {
    margin: 0px 0px 48px 0px;
    width: 100%;
  }
}
.block__decor1 {
  z-index: 0;
  left: inherit;
  top: 30px;
  right: 30px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.block__decor2 {
  z-index: 0;
  top: inherit;
  left: inherit;
  bottom: 30px;
  right: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.content-block__title {
  margin-bottom: 32px;
}
.content-block__desc {
  font: 400 24px Roboto;
  color: var(--clr-hw);
  line-height: 1.5;
  margin-bottom: 20px;
}
@media (max-width: 425px) {
  .content-block__btn {
    display: block;
    width: 100%;
    text-align: center;
  }
}

/*-----------------------/Block-------------------------*/
/*-----------------------Item-Footer-------------------------*/
@media (min-width: 1025px) {
  .item-footer {
    padding-top: 160px;
  }
}

/*-----------------------/Item-Footer-------------------------*/
/*-----------------------/ITEM-------------------------*/
/*-----------------------INSURANCE-------------------------*/
/*-----------------------Header-------------------------*/
@media (min-width: 425px) {
  .insurance-header .nav-header__item:nth-child(2) .nav-header__link::before {
    opacity: 1;
  }
}

/*-----------------------/Header-------------------------*/
/*-----------------------Main-------------------------*/
.insurance-main {
  position: relative;
  background-color: var(--clr-bg-light);
}
@media (max-width: 425px) {
  .insurance-main {
    padding-top: 150px;
  }
}
.insurance-main__title {
  margin-bottom: 120px;
}
.insurance-main__decor1 {
  left: inherit;
  bottom: inherit;
  top: 30px;
  right: 30px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.insurance-main .container {
  max-width: 1190px;
}

/*-----------------------/Main-------------------------*/
/*-----------------------Advantages-------------------------*/
.insurance-advantages {
  position: relative;
}
.insurance-advantages__title {
  margin-bottom: 40px;
}
.insurance-advantages__grid {
  display: -ms-grid;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(clamp(14.375rem, 7.55rem + 14.22vw, 18.125rem), 1fr));
}
.insurance-advantages .container {
  max-width: 1190px;
}

.item-advantages {
  display: -ms-grid;
  display: grid;
  gap: 8px;
  -ms-grid-rows: 32px 8px auto 8px 1fr;
  grid-template-rows: 32px auto 1fr;
}
.item-advantages__icon i::before {
  font-size: 32px;
  color: var(--clr-accent);
}
.item-advantages__title {
  font: 600 24px Poppins;
}
.item-advantages__desc {
  font: 500 18px Roboto;
  color: var(--clr-hw);
}

/*-----------------------/Advantages-------------------------*/
/*-----------------------Questions-------------------------*/
.insurance-questions {
  color: var(--clr-bg);
  background-color: var(--clr-font);
}
.insurance-questions__title {
  margin-bottom: 90px;
}
.insurance-questions .container {
  max-width: 1190px;
}

.tabs-questions__tab:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

.tab-question {
  padding: 20px;
}
.tab-question button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.tab-question._active i::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.tab-question._active .tab-question__desc-wrapper {
  height: auto;
}
.tab-question__title {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 600 18px Poppins;
}
.tab-question__title i::before {
  display: block;
  height: 100%;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.tab-question__title::before {
  top: 0.5em;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}
.tab-question__desc-wrapper {
  height: 0;
  overflow: hidden;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.tab-question__desc {
  width: 70%;
  padding: 16px 0px 0px 18px;
  font: 400 18px Roboto;
  line-height: 1.4;
  color: rgb(64, 64, 64);
}

/*-----------------------/Questions-------------------------*/
/*-----------------------/INSURANCE-------------------------*/
/*-----------------------CONTACTS-------------------------*/
/*-----------------------Header-------------------------*/
@media (min-width: 425px) {
  .contacts-header .nav-header__item:nth-child(3) .nav-header__link::before {
    opacity: 1;
  }
}

/*-----------------------/Header-------------------------*/
/*-----------------------Main-------------------------*/
.contacts-main {
  background-color: var(--clr-bg-light);
}
.contacts-main .container {
  max-width: 1190px;
}
.contacts-main__subtitle {
  font: 500 24px Poppins;
  color: var(--clr-hw);
  margin-bottom: 8px;
}
.contacts-main__title {
  margin-bottom: 60px;
}
.contacts-main__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .contacts-main__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contacts-main__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  padding: 60px clamp(0.938rem, -7.634rem + 42.86vw, 3.75rem);
  color: var(--clr-font);
  background-color: var(--clr-bg);
}
@media (max-width: 1024px) {
  .contacts-main__block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.contacts-main__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
  padding: 60px clamp(0.938rem, -7.634rem + 42.86vw, 3.75rem);
  color: var(--clr-bg);
  background-color: var(--clr-font);
}
@media (max-width: 1024px) {
  .contacts-main__form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.block-contacts {
  position: relative;
  font-size: 18px;
  line-height: 1.4;
}
.block-contacts i::before {
  font-size: 20px;
  margin-right: 8px;
  color: var(--clr-accent);
}
.block-contacts__title {
  text-transform: capitalize;
  font: 600 16px Poppins;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .block-contacts__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.block-contacts__locations, .block-contacts__mails, .block-contacts__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  color: var(--clr-font);
}
@media (max-width: 375px) {
  .block-contacts__locations, .block-contacts__mails, .block-contacts__phones {
    display: block;
  }
}
.block-contacts__location {
  white-space: nowrap;
}
.block-contacts__mail {
  display: block;
  color: inherit;
  white-space: nowrap;
}
.block-contacts__phone {
  color: inherit;
  white-space: nowrap;
}
.block-contacts__social-media {
  position: relative;
  z-index: 1;
  margin-left: 32px;
}
.block-contacts__social-media i::before {
  font-size: 32px;
}
.block-contacts__social-media a {
  margin-right: 32px;
}
.block-contacts__social-media a:last-child {
  margin-right: 0;
}
@media (max-width: 425px) {
  .block-contacts__social-media {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.form-contacts {
  position: relative;
}
.form-contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .form-contacts__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.form-contacts__name {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}
.form-contacts__title {
  font: 500 16px Poppins;
}
.form-contacts__input, .form-contacts__textarea {
  width: 100%;
  outline: none;
  border: 1px solid #EDEDED;
  font: 500 16px Poppins;
  padding: 12px;
  border-radius: 5px;
  background-color: #F7F7F7;
}
.form-contacts__phone {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}
.form-contacts__mail {
  margin-bottom: 20px;
}
.form-contacts__text {
  font: 400 16px Roboto;
}
.form-contacts__textarea {
  resize: none;
  margin-bottom: 20px;
}
.form-contacts__submit {
  cursor: pointer;
  position: relative;
  z-index: 1;
  outline: none;
  border: none;
}
@media (max-width: 425px) {
  .form-contacts__submit {
    width: 100%;
  }
}
.form-contacts__decor {
  left: inherit;
  right: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/*-----------------------/Main-------------------------*/
/*-----------------------Location-------------------------*/
.contacts-location {
  color: var(--clr-bg);
  background-color: #F7F7F7;
}
.contacts-location .container {
  max-width: 1190px;
}
.contacts-location__title {
  margin-bottom: 60px;
}
.grid-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
@media (max-width: 1024px) {
  .grid-location {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.grid-location__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 1024px) {
  .grid-location__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.item-location__map-wrapper {
  position: relative;
  height: 260px;
}
.item-location__map-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.item-location__content {
  padding: 32px clamp(1rem, -3.889rem + 24.44vw, 3.75rem) 32px clamp(2.625rem, 0.625rem + 10vw, 3.75rem);
  background-color: var(--clr-font);
}
.item-location__title {
  font: 600 32px Poppins;
  padding-left: 0;
  margin-bottom: 32px;
}
.item-location__title::before {
  top: 0.5em;
  left: -0.75em;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
.item-location__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 32px;
}
@media (max-width: 500px) {
  .item-location__contacts {
    display: block;
  }
}
.item-location__time {
  position: relative;
  left: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 600 16px Poppins;
}
.item-location__time i::before {
  position: relative;
  left: -0.5em;
  font-size: 20px;
  color: var(--clr-accent);
}

.contacts-item__col {
  padding-left: 12px;
  border-left: 2px solid rgb(237, 237, 237);
}
@media (max-width: 500px) {
  .contacts-item__col {
    margin-bottom: 20px;
  }
  .contacts-item__col:last-child {
    margin-bottom: 0;
  }
}
.contacts-item__text {
  font: 500 16px Roboto;
  color: var(--clr-hbl);
  line-height: 2;
}

/*-----------------------/Location-------------------------*/
/*-----------------------/CONTACTS-------------------------*/
/*-----------------------PURCHASE-------------------------*/
/*-----------------------Main-------------------------*/
.purchase-main {
  position: relative;
  background-color: var(--clr-bg-light);
}
@media (max-width: 425px) {
  .purchase-main {
    padding-top: 150px;
  }
}
.purchase-main::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: #F7F7F7;
}
.purchase-main .container {
  max-width: 1190px;
}
.purchase-main__subtitle {
  font: 500 24px Poppins;
  color: var(--clr-hw);
}
.purchase-main__title {
  margin-bottom: 80px;
}
.purchase-main__i-cant-name-it-for-10-min {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .purchase-main__i-cant-name-it-for-10-min {
    display: block;
  }
}

.i-cant-name-it-for-10-min__block {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  padding: clamp(1.5rem, -5.357rem + 34.29vw, 3.75rem);
  background-color: var(--clr-bg);
}

.block-form__decor {
  z-index: 0;
}

.choise-form {
  margin-bottom: 40px;
}
.choise-form__title {
  display: block;
  font: 500 16px Roboto;
  color: var(--clr-hw);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.choise-form__title::before {
  top: 0.55em;
  width: 0.8em;
  height: 0.4em;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}
.choise-form__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .choise-form__items {
    display: block;
  }
}
.choise-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 768px) {
  .choise-form__item {
    margin-bottom: 20px;
  }
  .choise-form__item:last-child {
    margin-bottom: 0;
  }
}
.choise-form__input {
  display: none;
  width: 0;
  height: 0;
  position: relative;
}
.choise-form__input:checked ~ .choise-form__label {
  color: var(--clr-bg);
  background-color: var(--clr-font);
}
.choise-form__input:checked ~ .choise-form__label::after {
  display: block;
}
.choise-form__label {
  font: 500 16px Roboto;
}
.choise-form__label::before {
  top: 25px;
}
.choise-form__label::after {
  top: 25px;
}
@media (max-width: 1024px) {
  .choise-form__label {
    font-size: 24px;
  }
  .choise-form__label::before {
    top: 30px;
  }
  .choise-form__label::after {
    top: 30px;
  }
}

.bicycle-form__title {
  font: 500 16px Roboto;
  color: var(--clr-hw);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.bicycle-form__title::before {
  top: 0.55em;
  width: 0.8em;
  height: 0.4em;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}
.item-form {
  position: relative;
  margin-bottom: 20px;
}
.item-form:last-child {
  margin-bottom: 0;
}
.item-form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item-form__label {
  position: relative;
  z-index: 1;
  font: 500 16px Roboto;
}
.item-form__label::before {
  top: 25px;
}
.item-form__label::after {
  top: 25px;
}
@media (max-width: 1024px) {
  .item-form__label {
    font-size: 24px;
  }
  .item-form__label::before {
    top: 30px;
  }
  .item-form__label::after {
    top: 30px;
  }
}
@media (max-width: 768px) {
  .item-form__label {
    font-size: 16px;
  }
  .item-form__label::before {
    top: 24px;
  }
  .item-form__label::after {
    top: 24px;
  }
}
.item-form__input {
  display: none;
}
.item-form__input:checked ~ .item-form__label {
  color: var(--clr-bg);
  background-color: var(--clr-font);
}
.item-form__input:checked ~ .item-form__label .item-form__price {
  display: block;
}
.item-form__input:checked ~ .item-form__label .item-form__info {
  height: auto;
  padding-top: 16px;
}
.item-form__input:checked ~ .item-form__label::after {
  display: block;
}
.item-form__price {
  display: none;
  position: absolute;
  z-index: 3;
  top: 16px;
  right: 16px;
  color: var(--clr-bg);
}
.item-form__info {
  height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
@media (max-width: 580px) {
  .item-form__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 425px) {
  .item-form__info {
    margin-left: -10%;
  }
}
.item-form__char {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 580px) {
  .item-form__char {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.item-form__char-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 500 12px Poppins;
  color: var(--clr-hbl);
}
.item-form__char-item i::before {
  color: var(--clr-accent);
  margin-right: 8px;
}
@media (max-width: 1024px) {
  .item-form__char-item {
    font-size: 18px;
  }
}
.item-form__img-wrapper {
  font-size: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  height: 100%;
}
@media (max-width: 580px) {
  .item-form__img-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.item-form__img {
  height: 100%;
  border-radius: 5px;
}

.form-purchase {
  padding: clamp(1.5rem, -5.357rem + 34.29vw, 3.75rem);
  color: var(--clr-bg);
  background-color: var(--clr-font);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
}
.form-purchase__title {
  margin-bottom: 20px;
  font: 600 16px Roboto;
  color: var(--clr-hbl);
  text-transform: uppercase;
}
.form-purchase__title::before {
  top: 0.55em;
  width: 0.8em;
  height: 0.4em;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}
.form-purchase__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .form-purchase__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.form-purchase__name {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.form-purchase__item-title {
  font: 500 16px Poppins;
}
.form-purchase__input {
  display: block;
  outline: none;
  border: none;
  background-color: #F7F7F7;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  font: 400 16px Roboto;
}
.form-purchase__phone {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.form-purchase__cpf {
  margin-bottom: 20px;
}
.form-purchase__mail {
  margin-bottom: 60px;
}
.form-purchase__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 20px 1fr 20px 1fr;
  -ms-grid-columns: 1fr 20px 1fr;
      grid-template: 1fr 1fr 1fr/1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
@media (min-width: 1025px) {
  .form-purchase__grid .form-purchase__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
@media (max-width: 768px) {
  .form-purchase__grid {
    -ms-grid-rows: (1fr)[3];
    -ms-grid-columns: 1fr;
        grid-template: repeat(3, 1fr)/1fr;
  }
}
.form-purchase__select-wrapper {
  position: relative;
}
.form-purchase__select-wrapper::before {
  content: "";
  position: absolute;
  z-index: 2;
  right: 12px;
  top: 12px;
  width: 16px;
  height: 16px;
  background: url("../img/icons/angle-down.svg") center/cover no-repeat;
  pointer-events: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.form-purchase__item-select {
  position: relative;
  z-index: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px;
  width: 100%;
  font: 400 16px Roboto;
  color: rgb(112, 112, 112);
  border: 1px solid #B3B3B3;
  border-radius: 5px;
  background-color: #F7F7F7;
}
.form-purchase__checkbox {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
.form-purchase__checkbox input {
  cursor: pointer;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  min-width: 32px;
  aspect-ratio: 1;
  border-radius: 5px;
  margin-right: 12px;
  border: 1px solid #B3B3B3;
  background-color: #F7F7F7;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.form-purchase__checkbox input:checked {
  border: 1px solid var(--clr-bg);
}
.form-purchase__checkbox input:checked + i::before {
  opacity: 1;
}
.form-purchase__checkbox i::before {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 2px;
  font-size: 28px;
  color: var(--clr-bg);
  opacity: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.form-purchase__checkbox label {
  cursor: pointer;
  font: 500 16px Poppins;
}
.form-purchase__checkbox label a {
  color: inherit;
  text-decoration: underline;
}
.form-purchase__btn {
  position: relative;
  z-index: 1;
}
@media (max-width: 425px) {
  .form-purchase__btn {
    width: 100%;
  }
}
.form-purchase__decor {
  left: inherit;
  right: 30px;
  z-index: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/*-----------------------/Main-------------------------*/
/*-----------------------/PURCHASE-------------------------*/
/*-----------------------TERMS-------------------------*/
/*-----------------------Main-------------------------*/
.terms-header .terms-title {
  padding: 60px 0px;
  background-color: var(--clr-bg-light);
}
@media (max-width: 425px) {
  .terms-header .terms-title {
    padding-top: 150px;
  }
}
.terms-header .container-title {
  padding: 0px 15px;
  max-width: 1190px;
  margin: 0 auto;
}

.terms-main {
  padding: 120px 0px;
  color: var(--clr-bg);
  background-color: var(--clr-font);
}
.terms-main .container {
  max-width: 1190px;
}
.terms-main ol {
  counter-reset: li;
  font: 600 24px Poppins;
  max-width: 730px;
  margin: 20px 0px 48px 0px;
}
.terms-main ol li > ol > li {
  font: 400 18px Roboto;
  color: rgb(46, 46, 46);
}
.terms-main ol > ol {
  margin-top: 20px;
}
.terms-main li::before {
  counter-increment: li;
  content: counters(li, ".") ". ";
}
.terms-main__list > li {
  font: 600 24px Poppins;
  margin-bottom: 20px;
}
/*-----------------------/Main-------------------------*/
/*-----------------------/TERMS-------------------------*/